/* container */

#setRange,
#setMode,
#input,
#output,
#back,
#next {
    display: none;
}

#p1_input,
#p2_input,
#p_input {
    width: 150px; /* temp */
}

#suggestionsText,
#custom,
#setModeText,
#player1,
#inputNum,
#player2,
#guess,
#player,
#youWon,
#tooLow,
#tooHigh {
    display: inline;
}

/*#error1,
#error2,
#error3 {
    color: red;
}*/