/* container */
#header,
#setRange,
#setMode,
#input,
#output,
#back,
#next {
    display: none;
}

#p1_input,
#p2_input,
#p_input {
    width: 150px; /* temp */
}

/*#error1,
#error2,
#error3 {
    color: red;
}*/